{% comment %}
<!--
  Download My Resume Section

  This partial is included any page that that has the download my resume section.
  Currently it is only included as one of the sections in the homepage layout.

-->
{% endcomment %}

{% assign content = site.data.homepage-section-content.homepage.download %}

<!-- Video -->
<section id="video" class="section video-player dark-bg">
  <div class="color-overlay"></div>

  <div id="video-info container">
    <div class="row">
      <div class="col-sm-5">

        <div class="video-left">
          {{ content.header-left }}
        </div>

      </div><!-- col-sm-4 -->

      {% for download in content.download-items %}

      <div class="col-sm-1 text-center download-icons">

        <!-- Download Button -->
        <a href="{{ download.link | prepend: site.baseurl }}" class="btn video-icon">
          <i class="glyphicon glyphicon-download"></i>
        </a>

        <span>{{ download.title }}</span>

      </div><!-- col-sm-1 -->

      {% endfor %}

      <div class="col-sm-5">

        <div class="video-right">
          {{ content.header-right }}
        </div>

      </div><!-- col-sm-4 -->
    </div><!-- row -->

  </div><!-- container -->

</section>
<!-- /Video -->
