{% comment %} 
<!--
  Services Section

  This partial is included any page that that has the services section.  
  Currently it is only included as one of the sections in the homepage layout.
  
--> 
{% endcomment %}

{% assign content = site.data.homepage-section-content.homepage.services %}

<!-- Service -->
<section id="services" class="section services">
    <div class="container">

        <!---->
        <header class="section-heading">
            <h2>{{ content.header }}</h2>
            <span>{{ content.tagline }}</span>
        </header>
        <!---->

        <div class="section-content">
            <div class="row">

                {% for item in content.categories %}

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span><i class="fa fa-{{ item.icon }} fa-5x"></i></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">{{ item.title }}</h4>
                            <p class="text-center">{{ item.desc }}</p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                {% endfor %}

            </div><!-- row -->

        </div><!-- section-content -->
    </div><!-- container -->
</section>
<!-- Service -->