---
layout: default
---

<header id="header" class="home-parallax home-fade dark-bg header-inner">
  <div class="color-overlay"></div>
  <div class="container">
    <h2>New Relic Logs &amp; Tracing Demo</h1>
    <div class="breadcrumb">
      <a href="{{ site.baseurl }}/">Home</a> <i class="fa fa-angle-double-right"></i> New Relic Logs &amp; Tracing Demo
    </div>
  </div>
</header>

<section id="buttons" class="section">
  <div class="container">
    <button onclick="userGetAction('http://3.14.148.27:5223/api/')">Simple GET REST API</button>
    <button onclick="userGetAction('http://3.14.148.27:5223/api/1234')">GET REST API with ID</button>
    <button onclick="userPostAction('http://3.14.148.27:5223/api/')">POST REST API</button>
    <button onclick="userDeleteAction('http://3.14.148.27:5223/api/')">DELETE REST API</button>
    <button onclick="userPutAction('http://3.14.148.27:5223/api/')">PUT REST API</button>
    <button onclick="userGetAction('http://3.14.148.27:5223/api/genError/')">Generic REST Error</button>
    <button onclick="userGetAction('http://3.14.148.27:5223/api/fileReadError/')">File Read REST Error</button>
    <button onclick="userGetActionssss('http://3.14.148.27:5223/api/')">JS Error</button>

  </div>

  <div class="container" id="jsonResponse"></div>


</section>